.cv__outer {
  position: relative;
  height: 100%;
  width: 100%;
}

.cv__photo {
  position: absolute;
  left: -10px;
  top: 22px;
  max-width: 10vw;
  transform: rotate(-8deg);
  border: 5px solid white;
  box-shadow: 0 10px rgba(0, 0, 0, 0.5);
}

.cv {
  color: white;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  h1, h2, h3 {
    padding: 0;
    margin: 0 0 10px;
  }

  p {
    margin: 0 0 10px;
  }

  ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }
}

.cv_inner {
  padding: 20px;
  max-width: 50vw;
  margin: 0 auto;
}