.cvList__entry {
  display: flex;
  align-items: stretch;
  padding: 20px;
  background: white;
  border-top: 4px solid #4474bf;
  color: #333;
  margin-bottom: 20px;

  h2 {
    color: #000;
  }
}

.cvList__side {
  display: flex;
  flex-direction: column;
  flex: 0 0 130px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  img {
    max-width: 50%;
  }
}

.cvList__date-range {
  line-height: 36px;
  color: #666;
}

.cvList__description {
  max-width: 600px;
}