.mine {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    line-height: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #8b8b8b;
    color: #333;
    font-weight: bold;

    svg {
        color: #ef2c2c;
        pointer-events: none;
    }
}

.mineUnrevealed {
    background: #272822;

    &:hover {
        cursor: pointer;
        background: #1d2c5e;
    }
}

.mineRevealed {
    background: #fff;
}

.mineNumber {
    background: #eeeeee;

    span {
        pointer-events: none;
    }
}

.mine1 { color: #002aff; }
.mine2 { color: #299a15; }
.mine3 { color: #d51a1a; }
.mine4 { color: #881eef; }
.mine5 { color: #d0780b; }
.mine6 { color: #1e876b; }
.mine7 { color: #b824a8; }
.mine8 { color: #000000; }