.minesweeper__wrapper {
    min-height: 100%;
    min-width: 100%;
    padding-top: 25px;
    text-align: center;
    box-sizing: border-box;
}

.minesweeper {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    display: inline-block;
    border-top: 4px solid #4474bf;
}

.minesweeper__header {
    text-align: center;

    select {
        padding: 5px 10px;
        border: 1px solid #333;
        display: inline-block;
        margin: 5px
    }

    button {
        outline: none;
        border: none;
        background: black;
        padding: 6px 10px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin: 5px
    }
}

.minesweeper__won, .minesweeper__gameOver {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.61);
    font-size: 2.6em;
    font-weight: bold;
    padding: 10px 20px;
}

.minesweeper__gameOver {
    color: red;
    border: 10px solid red;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.minesweeper__won {
    color: #29e22e;
    border: 10px solid #29e02f;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
}