.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.icon__icon {
    font-size: 1.4em;
    padding: 5px;
    pointer-events: none;
}

.icon__label {
    display: inline-block;
    font-size: 0.7em;
    padding: 1px 4px;
    border: 1px dotted transparent;
    pointer-events: none;

    .iconSelected & {
        border: 1px dotted #cccccc;
        user-select: none;
    }

    .iconActive & {
        border: 1px solid #cccccc;
        background: #cccccc;
        color: #333;
    }
}
