.window {
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    -webkit-animation: slit-in-vertical 0.2s ease-out both;
    animation: slit-in-vertical 0.2s ease-out both;

    &.window--maximized {
        width: 100vw;
        height: calc(100vh - 32px);
        left: 0 !important;
        top: 0 !important;
    }
}

.window__content {
    background: rgba(10, 10, 10, 0.7);
    border: 1px solid #111;
    border-top: 1px solid #f2f2f2;
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 100%;
    flex: 1 1 0;

    .windowAllowOverflow & {
        overflow: visible;
    }
}

.window__bar {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    cursor: grab;

    .windowDragging & {
        cursor: grabbing;
        will-change: contents;
    }
}

.window__title {
    color: #f2f2f2;
    flex: 1 1 0;
    font-size: 0.9em;
    padding: 3px;
}

.window__icon {
    color: #f2f2f2;
    padding: 3px;
}